/* Common shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.hide{
    display: none;
}

.text-primary{
    color: #FD6E0A;
}    
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}   
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;                                          
}

.section-description{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* Nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 30px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}

/* Header related style */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;    
    min-height: 80vh;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 150px;
}
.banner .profile-picture{
    width: 500px;
}
.banner-content{
    max-width: 500px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-description{
 margin-bottom: 30px;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}
/* Main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.resume-section{
    margin-top: 130px;
}
/* About section style */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.about-info{
    text-align: center;
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.section-title{
    margin-bottom: 20px;
    font: bold;
}
#what-i-do-description{
    padding: 30px 150px;
    margin-bottom: 50px;
}

/* skills related style */

.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    box-shadow: 5px 5px 10px  #ddd;

}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Resume style */
.resume-column-title{
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-container{
    display: flex;
    gap: 70px ;
    margin-top: 130px;
}
.resume-item-description, .resume-item-institute{
    color: #757575;
}

.resume-item-description{
    margin: 20px 0 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 30px;

}
.download-cv{
    text-align: center;
}
.resume-container hr{
    margin: 30px 0;
}

/* button related design */
.download-cv button{
    margin-top: 50px;
}

/* Foote style */

.footer{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    background: #FFF8F3;
    margin-top: 110px;
    padding: 130px 230px;
    
}
.social-links{
    display: flex;
    gap: 24;
}
.footer-column{
    width: 50%;
}

.footer-column .section-title h3{
    margin-bottom: 28px;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    border:none;
    width: 100%;
    font-family: Open-Sans;
   
}
.footer-column .section-description{
    text-align: left;
    
}

.footer-column .social-links{
    width: 24px;
    height: 24px;
    gap: 24px;
    margin-top: 30px;

}
.footer-column .section-title{
    text-align: left;
}

/* Responsive small device */
@media screen and (max-width:576px){
    .skills-container, 
    .resume-container, 
    .footer, 
    .about-info-container,
    .banner,
    nav, 
    nav > ul {
        flex-direction: column;
    }
    .banner,
    #what-i-do-description{
        padding: 20px;
    }
    .banner .profile-picture{
        width: 100%;
    }
    .footer, .about{
        padding: 10px;
    }
    .footer-column{
        width: 100%;
    }
    .header{
        background-image: none;
    }
    .btn-primary{
        margin: 20px;
        padding: 15px 30px;
        display: inline-block;
    }

}
@media screen  and (min-width:576px) and (max-width:960px){
    .skills-container, .resume-container{
        flex-direction: column;
    }
    
}

